---
title: Chaîne, “Répertoire des salam et malke'e”
layout: default
permalink: /works/chaine/
---

<table class="table" id="chaine">

  {% for item in site.data.chaine %}
  {% assign work = site.works | find_exp: "work", "work.chaine contains item[0]" %}
  <tbody id="{{ item[0] | replace: 'b', 'bis' }}">

    <tr>
      
      <td rowspan="{% if work.chaine.size > 1 or item[1].notes %}3{% else %}2{% endif %}">
        <strong>{{ item[0] | replace: 'b', ' bis' }}.</strong>
      </td>

      <td>
        <strong lang="gez">{{ item[1].incipit }}</strong>
      </td>

      <td>
        <a href="{{ work.url }}" lang="gez-latn">{{ work.titles[0].gez }}</a>
      </td>

    </tr>

    <tr>

      <td>
        {% if item[1].subjects.size > 0 %}

        {% for subject_id in item[1].subjects %}
        {% assign subject = site.subjects | find: "key", subject_id %}
        <a href="{{ subject.link }}">{{ subject.name.en }}</a>{% unless forloop.last %},{% endunless %}
        
        {% endfor %}

        {% else %}

        {% for subject_id in work.subjects %}
        {% assign subject = site.subjects | find: "key", subject_id %}
        <a href="{{ subject.link }}">{{ subject.name.en }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}

        {% endif %}
      </td>

      <td>
        {% for subject_id in work.subjects %}
        {% assign subject = site.subjects | find: "key", subject_id %}
        <a href="{{ subject.link }}">{{ subject.name.en }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </td>

    </tr>

    {% if work.chaine.size > 1 or item[1].notes %}
    <tr>
      <td colspan="2" class="is-size-7 pl-3">
        {% if work.chaine.size > 1 %}
        <strong>See also:</strong>
        {% for number in work.chaine %}
        {% unless number == item[0] %}
        <a href="#{{ number | replace: 'b', 'bis' }}">{{ number | replace: 'b', 'bis' }}</a>
        {% endunless %}
        {% endfor %}
        {% endif %}
        <br>
        {% if item[1].notes %}
        <strong>Remarks:</strong>
        <span>{{ item[1].notes }}</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}    

  </tbody>
  {% endfor %}

</table>