---
---

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box" style="max-height: calc(100vh - 3rem); overflow-y: scroll;">
      <button class="delete is-pulled-right" aria-label="close" style="position: sticky; top: 0;"></button>
      <h3 class="title is-3">
        <span>Marius Chaîne</span>
      </h3>
      <h4 class="subtitle is-4">‘Répertoire des salam et malke’e’</h4>
      
      <div class="block">
        {% assign chaine = site.works | where_exp: "work", "work.chaine != nil" | map: "chaine" | flatten | sort_numeric %}
        {% for number in chaine %}
          {% assign work = site.works | find_exp: "work", "work.chaine contains number" %}
          {{ number }}<br>
          {{ work.clavis }}<br>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="level mb-3">
  <div class="level-left">
    <div class="level-item">
      <p class="is-size-7">
        <strong>CAe</strong> = Clavis Aethiopica.<br>
        <strong>MC</strong> = Marius Chaîne, ‘Répertoire des salam et malke’e’, <i>ROC</i> 18 (1913): 183–203, 337–57.<br>
        <strong>GG</strong> = Gezahegn Getachew, ‘Appendix: Mälkǝ’a Mälkǝ’’, in <i>The Mälkǝ’: Its Major Features and Source</i>, 2000, 102–108.<br>
        <strong>HK</strong> = Habtemichael Kidane, ‘Supplement to the Repertory of <i>Mälkəʿat</i>’, in <i>Celebrating the Holy Saints</i>, 2024, 267–369.
      </p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item is-hidden-touch">
      <p class="has-text-right is-size-7">
        <strong>{{ site.works | where: "type", "malkəʾ" | size }}</strong> malkəʾ records.<br>
        <strong>{{ site.works | where: "type", "quasi-malkəʾ" | size }}</strong> quasi-malkəʾ records.<br>
        <strong>{{ site.works.size }}</strong> total work records.<br>
        <!--<a>Advanced Search</a>-->
      </p>
    </div>
  </div>
</div>

<table class="table is-fullwidth" id="list">

  <thead>

    <tr>
      <td>
        <input class="input" type="number" placeholder="CAe #" min="{{ site.works.first.clavis }}" max="{{ site.works.last.clavis }}" style="max-width: 5em; min-width: 3.5em;" />
      </td>

      <td class="is-hidden-mobile">
        <div class="select">
          <select id="filter-type" class="placeholder">
            <option value="" selected>Filter:</option>
            {% assign types = site.works | map: "type" | uniq | sort %}
            {% for type in types %}
            <option value="{{ type }}">{{ type | capitalize }}</option>
            {% endfor %}
          </select>
        </div>
      </td>

      <td colspan="2">
        <input class="input" type="text" placeholder="Title or incipit" />
      </td>

      <td style="vertical-align: middle; width: 1em;" class="is-hidden-mobile has-text-centered">
        <input id="fulltext" type="checkbox" title="Full Text Available" />
      </td>
    </tr>

  </thead>
    
  {% for work in site.works %}
  <tbody id="{{ work.clavis }}" data-type="{{ work.type }}" data-category="{{ work.category }}" data-fulltext="{{ work.full_text }}" data-rank="0">

    <tr>

      <td rowspan="2">
        <span><span class="is-hidden-mobile">CAe:</span>&nbsp;{{ work.clavis }}</span>
        {% if work.chaine %}
        <br><small class="is-hidden-mobile">MC: {{ work.chaine | join: ", " }}</small>
        {% endif %}
        {% if work.gezahegn %}
        <br><small class="is-hidden-mobile">GG: {{ work.gezahegn | join: ", " }}</small>
        {% endif %}
        {% if work.habtemichael %}
        <br><small class="is-hidden-mobile">HK: {{ work.habtemichael | join: ", " }}</small>
        {% endif %}
      </td>

      <td rowspan="2" class="is-hidden-mobile">
        <span>{{ work.type | capitalize }}</span>
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong lang="gez">{{ work.titles[0].gez | fidal }}</strong>
          <br><small lang="gez-latn">{{ work.titles[0].gez }}</small>
        </a>
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong lang="en">{{ work.titles[0].en }}</strong>
        </a>
      </td>

      <td rowspan="2" class="is-hidden-mobile has-text-centered">
        {% unless work.stub %}
        <span>{{ work.length }}{% unless work.complete %}*{% endunless %}</span>
        {% else %}
        <span>--</span>
        {% endunless %}
      </td>

    </tr>

    <tr>
      
      <td colspan="2">
        <span>
          {% if work.stanzas[1] %}
          {{ work.stanzas[1][0] }}
          {% else %}
          <em>[The beginning of the text is lost.]</em>
          {% endif %}
        </span>
      </td>

    </tr>

  </tbody>
  {% endfor %}

</table>

<script src="{{ '/assets/scripts/fuse/dist/fuse.min.js' | relative_url }}"></script>
<script>
$(document).ready(function() {

  $('select').on('change', function () {
    if( $('select#filter-type').val() == "" ) $('select#filter-type').addClass('placeholder');
    else $('select#filter-type').removeClass('placeholder');
  });

  $.getJSON('api/search-index-small.json', function( data ) {

    const fuse = new Fuse(data, {
      includeScore: true,
      keys: [
        { 'name': 'titles', 'weight': 0.7 },
        { 'name': 'incipits', 'weight': 0.3 }
      ]
    });


    $('select, input').on('keyup keypress change', function () {

      $('table.table').children().removeClass('is-hidden');

      const type = $('select#filter-type').val();
      const fulltext = $('input#fulltext').is(':checked');
      const clavis = $('input.input[type="number"]').val();
      const search = $('input.input[type="text"]').val();

      if ( type !== '' ) $(`tbody[data-type!='${type}']`).addClass('is-hidden');
      if ( fulltext ) $(`tbody[data-fulltext!='true']`).addClass('is-hidden');
      if ( clavis !== '' ) $(`tbody:not([id^='${clavis}'])`).addClass('is-hidden');

      if ( search !== '' ) {

        $('table.table').children().removeAttr('data-rank');

        const results = fuse.search(search);

        results.forEach(function ( result ) {
          $(`#${result.item.clavis}`).attr('data-rank', result.score);
        });

      }
      else $('table.table').children().attr('data-rank', 0);

      const categories = ["trinitarian", "marian", "angelic", "prophet", "apostle", "martyr", "righteous", "other"];
      $('table.table tbody[data-rank]').sort(function (a, b) {
        score = parseFloat(a.dataset.rank) - parseFloat(b.dataset.rank);
        if (score == 0 ) {
          if (a.dataset.category != b.dataset.category) {
            return categories.indexOf(a.dataset.category) - categories.indexOf(b.dataset.category);
          }
          else if (a.dataset.type != b.dataset.type) {
            if ( a.dataset.type == "malkəʾ" ) return -1;
            else if ( b.dataset.type == "malkəʾ" ) return 1;
            else if ( a.dataset.type == "quasi-malkəʾ" ) return -1;
            else if ( b.dataset.type == "quasi-malkəʾ" ) return 1;
            else return parseInt(a.id) - parseInt(b.id);
          }
          else return parseInt(a.id) - parseInt(b.id);
        }
        else return score;
      }).appendTo('table.table');

    }).trigger('change');

  });

});
</script>