---
---

<p class="mb-3">
  <em>CAe</em> = <em>Clavis Aethiopica</em>.<br>
  Chaîne = Marius Chaîne, “<a href="{{ '/works/chaine/' | relative_url }}">Répertoire des salam et malke'e</a>,” <i>ROC</i> 18 (1913): 183–203, 337–57.
</p>

<table class="table is-fullwidth">

  <thead>

    <tr>
      <td>
        <input class="input" type="number" placeholder="CAe" min="{{ site.works.first.title }}" max="{{ site.works.last.title }}" style="max-width: 5em; min-width: 3.5em;" />
      </td>

      <td colspan="2">
        <input class="input" type="text" placeholder="Title or incipit" />
      </td>
    </tr>

  </thead>
    
  {% for work in site.works %}
  <tbody id="{{ work.title }}">

    <tr>

      <td rowspan="2">
        <span><em>CAe</em>: {{ work.title }}</span>
        {% if work.chaine %}
        <br><small>Chaîne: {{ work.chaine | join: ", " }}</small>
        {% endif %}
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong lang="gez">{{ work.titles[0].gez | fidal }}</strong>
          <br><small lang="gez-latn">{{ work.titles[0].gez }}</small>
        </a>
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong>{{ work.titles[0].en }}</strong>
        </a>
      </td>

    </tr>

    <tr>
      
      <td colspan="2">
        <span>{{ work.stanzas[1][0] }}</span>
      </td>

    </tr>

  </tbody>
  {% endfor %}

</table>

<p class="has-text-right is-size-7 mt-3">
  <strong>{{ site.works.size }}</strong> total work records.
</p>

<script src="{{ '/assets/scripts/fuse/dist/fuse.min.js' | relative_url }}"></script>
<script>

$(document).ready(function() {

  $('a.expands').on('click', function() {

    $(this).parents('tbody').find('.collapsible').toggleClass('is-hidden');

  });


  $.getJSON('api/search-index-small.json', function( data ) {

    const fuse = new Fuse(data, {
      includeScore: true,
      keys: [
        { 'name': 'titles', 'weight': 0.7 },
        { 'name': 'incipit', 'weight': 0.3 }
      ]
    });

    $('input.input').on('keyup keypress change', function() {

      $('table.table').addClass('results').children().removeAttr('data-rank');

      var search = $(this).val();

      if ( $(this).attr('type') == 'number' ) $(`tbody[id^='${search}']`).attr('data-rank', 1);

      else {

        var results = fuse.search(search);

        results.forEach(function ( result ) {
          $(`#${result.item.clavis}`).attr('data-rank', result.score);
        });
      
      }

      if ( search == "" ) $('table.table tbody').attr('data-rank', 0);

      $('table.table tbody[data-rank]').sort(function (a, b) {
        score = parseFloat(a.dataset.rank) - parseFloat(b.dataset.rank);
        if (score == 0) return parseInt(a.id) - parseInt(b.id);
        else return score;
      }).appendTo('table.table');

    });

  });

});
</script>