---
---

<p class="mb-3">
  <em>CAe</em> = <em>Clavis Aethiopica</em>.<br>
  Chaîne = Marius Chaîne, “<a href="{{ '/works/chaine/' | relative_url }}">Répertoire des salam et malke'e</a>,” <i>ROC</i> 18 (1913): 183–203, 337–57.
</p>

<table class="table is-fullwidth" id="list">

  <thead>

    <tr>
      <td>
        <input class="input" type="number" placeholder="CAe #" min="{{ site.works.first.title }}" max="{{ site.works.last.title }}" style="max-width: 5em; min-width: 3.5em;" />
      </td>

      <td class="is-hidden-mobile">
        <div class="select">
          <select id="filter-type">
            <option value="" selected>Filter:</option>
            {% assign types = site.works | map: "type" | uniq | sort %}
            {% for type in types %}
            <option value="{{ type }}">{{ type | capitalize }}</option>
            {% endfor %}
          </select>
        </div>
      </td>

      <td colspan="2">
        <input class="input" type="text" placeholder="Title or incipit" />
      </td>

      <td style="vertical-align: middle; width: 1em;" class="is-hidden-mobile">
        <input id="fulltext" type="checkbox" title="Full Text Available" />
      </td>
    </tr>

  </thead>
    
  {% for work in site.works %}
  <tbody id="{{ work.title }}" data-type="{{ work.type }}" data-fulltext="{{ work.full_text }}" data-rank="0">

    <tr>

      <td rowspan="2">
        <span><em class="is-hidden-mobile">CAe:</em> {{ work.title }}</span>
        {% if work.chaine %}
        <br><small class="is-hidden-mobile">Chaîne: {{ work.chaine | join: ", " }}</small>
        {% endif %}
      </td>

      <td rowspan="2" class="is-hidden-mobile">
        <span>{{ work.type | capitalize }}</span>
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong lang="gez">{{ work.titles[0].gez | fidal }}</strong>
          <br><small lang="gez-latn">{{ work.titles[0].gez }}</small>
        </a>
      </td>

      <td>
        <a href="{{ work.url }}">
          <strong lang="en">{{ work.titles[0].en }}</strong>
        </a>
      </td>

      <td rowspan="2" class="is-hidden-mobile">
        {% if work.full_text %}
        <span class="has-text-link">&#8226;</span>
        {% endif %}
      </td>

    </tr>

    <tr>
      
      <td colspan="2">
        <span>{{ work.stanzas[1][0] }}</span>
      </td>

    </tr>

  </tbody>
  {% endfor %}

</table>

<p class="has-text-right is-size-7 mt-3">
  <strong>{{ site.works.size }}</strong> total work records.
</p>

<script src="{{ '/assets/scripts/fuse/dist/fuse.min.js' | relative_url }}"></script>
<script>
$(document).ready(function() {

  $.getJSON('api/search-index-small.json', function( data ) {

    const fuse = new Fuse(data, {
      includeScore: true,
      keys: [
        { 'name': 'titles', 'weight': 0.7 },
        { 'name': 'incipits', 'weight': 0.3 }
      ]
    });


    $('select, input').on('keyup keypress change', function () {

      $('table.table').children().removeClass('is-hidden');

      const type = $('select#filter-type').val();
      const fulltext = $('input#fulltext').is(':checked');
      const clavis = $('input.input[type="number"]').val();
      const search = $('input.input[type="text"]').val();

      if ( type !== '' ) $(`tbody[data-type!='${type}']`).addClass('is-hidden');
      if ( fulltext ) $(`tbody[data-fulltext!='true']`).addClass('is-hidden');
      if ( clavis !== '' ) $(`tbody:not([id^='${clavis}'])`).addClass('is-hidden');

      if ( search !== '' ) {

        $('table.table').children().removeAttr('data-rank');

        const results = fuse.search(search);

        results.forEach(function ( result ) {
          $(`#${result.item.clavis}`).attr('data-rank', result.score);
        });

      }
      else $('table.table').children().attr('data-rank', 0);

      $('table.table tbody[data-rank]').sort(function (a, b) {
        score = parseFloat(a.dataset.rank) - parseFloat(b.dataset.rank);
        if (score == 0) return parseInt(a.id) - parseInt(b.id);
        else return score;
      }).appendTo('table.table');

    }).trigger('change');

  });

});
</script>