@use "bulma/sass/utilities/mixins"
@import "bulma/bulma"
@import "themes/default"
@import "common"

html body

  h1.title small
    @include mixins.touch
      display: block

  .tag
    font-family: var(--bulma-family-primary)

  .table, .message-body, .content
    font-family: var(--bulma-family-secondary)
    .button
      font-family: var(--bulma-family-primary)
  
  table.table
    thead, tbody
      border-color: var(--bulma-table-cell-border-color)
      border-style: var(--bulma-table-cell-border-style)
      border-width: 1px
    
    td
      border: 0

      ol
        margin-inline-start: 2em

        li:not(:last-child)
          margin-bottom: 0.75rem
    
    &#list
      tbody:not([data-rank])
        display: none

    thead input[type="number"]
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        display: none

      &::placeholder
        font-style: italic

  ol.stanzas
    list-style-position: outside
    margin-inline-start: 2em

    li.ellipsis
      list-style-type: none
      margin-bottom: 1em

      &:after
       content: "⋮" 

    li + li
      margin-top: 0.25em

    li ul
      list-style: none
      list-style-position: outside
      margin-bottom: 1em
      padding-left: 1em
      text-indent: -1em

    li:has(ul>li:empty)
      display: none

    &.can-break
      @include mixins.widescreen
        columns: 2

      li
        page-break-inside: avoid

  div.columns div.column .message
    &:not(:first-child)
      padding-top: calc( 2 * var(--bulma-column-gap) )

    .buttons
      @include mixins.mobile
        justify-content: center

    .message-body.content
      ul
        margin-top: 0
      a:not(.button)
        color: var(--bulma-link-text)
        text-decoration: none
      hr
        background: hsl(var(--bulma-message-h), var(--bulma-message-s), var(--bulma-message-header-background-l))
  
  a.to-expand
    &:after
      content: "◀"
    
    &.is-active:after
      content: "▼"
  
  li
    &[data-category="Trinitarian"]::marker
      color: var(--bulma-success)

    &[data-category="Marian"]::marker
      color: var(--bulma-link)

    &[data-category="Angelic"]::marker
      color: var(--bulma-warning)

    &[data-category="Prophets/Apostles"]::marker
      color: var(--bulma-primary)

    &[data-category="Martyrs"]::marker
      color: var(--bulma-danger)

    &[data-category="Righteous"]::marker
      color: var(--bulma-info)

  table.table#chaine
    td[colspan="2"]
      a:not(:last-of-type):after
        content: ","
        color: var(--bulma-table-color)