@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600&display=swap');

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif Ethiopic"),
       local("NotoSerifEthiopic-Regular"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSerifEthiopic/NotoSerifEthiopic-Regular.ttf") format("truetype");
  unicode-range: U+1200-1380;
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 600;
  font-display: swap;
  src: local("Noto Serif Ethiopic"),
       local("NotoSerifEthiopic-SemiBold"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSerifEthiopic/NotoSerifEthiopic-SemiBold.ttf") format("truetype");
  unicode-range: U+1200-1380;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans Ethiopic"),
       local("NotoSansEthiopic-Regular"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSansEthiopic/NotoSansEthiopic-Regular.ttf") format("truetype");
  unicode-range: U+1200-1380;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  font-display: swap;
  src: local("Noto Sans Ethiopic"),
       local("NotoSansEthiopic-SemiBold"),
       url("https://cdn.jsdelivr.net/gh/googlefonts/noto-fonts/hinted/ttf/NotoSansEthiopic/NotoSansEthiopic-SemiBold.ttf") format("truetype");
  unicode-range: U+1200-1380;
}