---
layout: main/default
---

<div class="columns is-centered">
  <div class="column is-8-widescreen is-10-desktop">

    <h1 class="title is-3 mb-6" style="margin-top: -3rem;">
      <span>Bibliography</span>
      {% comment %}
      <span class="is-pulled-right">
        <a href="https://www.zotero.org/groups/5599348/malkəʾa_gubāʾe/library" target="_blank" style="color: #db2c3a; text-decoration: none;"><small>Z</small></a>
      </span>
      {% endcomment %}
    </h1>

    <p class="mb-6">
      <span>Jump to:</span>
      {% for bibliography in page.bibliographies %}
      <a href="#{{ bibliography[0] }}">{{ bibliography[0] | capitalize }}{% unless forloop.first %}s{% endunless %}</a>
      {% unless forloop.last %}|{% endunless %}
      {% endfor %}
    </p>
    
    {% for bibliography in page.bibliographies %}
      <h2 id="{{ bibliography[0] }}" class="title is-4">
        <span>{{ bibliography[0] | capitalize }}{% unless forloop.first %}s{% endunless %}</span>
        <span class="is-pulled-right">
          <a href="{{ 'https://www.zotero.org/groups/5599348/malkəʾa_gubāʾe/tags/' | append: bibliography[0] | append: '/library/' }}" target="_blank" style="color: #db2c3a; text-decoration: none;"><small>Z</small></a>
        </span>
      </h2>
      <hr class="mt-1">
      <article class="content mb-6">{{ bibliography[1] }}</article>
    {% endfor %}

  </div>
</div>