---
layout: main/default
---

<div class="columns">

  {% if page.iiif %}
  <div class="column">
    <div id="viewer" style="height: 100vh; position: sticky; top: 0px;"></div>
  </div>
  {% endif %}

  <div class="column {% if page.iiif %}is-4-desktop is-5-tablet{% else %}is-8{% endif %}">

    {% if page.iiif %}
    <aside id="details" class="message">
      <div class="message-header">
        <p>Details</p>
      </div>
      <div class="message-body">

        <div class="block">
          <p>
            Location: {{ page.place }}
            <br>
            Institution: {{ page.institution }}
            <br>
            Shelfmark: {{ page.shelfmark }}
          </p>
        </div>

        <hr>

        <div class="block">
          <h5 class="title is-5">Measurements</h5>
          <p class="mt-3">
            Height: {{ page.height }} mm
            <br>
            Width: {{ page.width }} mm
            <br>
            Folios: {{ page.folios }}
            <br>
            Columns: {{ page.columns }}
            <br>
            Lines: {{ page.lines }}
          </p>
        </div>

      </div>
    </aside>
    {% endif %}

    <table class="table is-fullwidth">
      {% for unit in page.units %}

      {% unless page.units.size == 1 %}
      <tbody>
        <tr>
          <th colspan="5">
            <h3 class="title is-5">
              <span>Unit {{ forloop.index }}</span>
              <small>(ff. {{ unit.locus }})</small>
            </h3>
          </th>
        </tr>
      </tbody>
      {% endunless %}

      {% for item in unit.contents %}
      {% assign work = site.works | find: "uid", item.uid %}
      <tbody id="unit{{ forloop.parentloop.index }}item{{ forloop.index }}" data-facs="{{ item.facs }}">
        <tr>

          <th rowspan="{% if page.iiif %}2{% endif %}">{{ forloop.index }}.</th>

          <td>
            {% unless page.paginated %}
            <span>ff.</span>
            {% else %}
            <span>pp.</span>
            {% endunless %}
            <span>{{ item.locus | replace: "-", "–" | replace: "bis", "<sub>bis</sub>" }}</span>
            {% if item.facs %}
            <a data-facs="{{ item.facs }}">&hookleftarrow;</a>
            {% endif %}
          </td>

          <td>
            <span class="is-hidden-mobile">CAe:</span>&nbsp;{{ item.clavis }}
            <br>
            <small>{{ work.type | capitalize }}</small>
          </td>

          {% if page.iiif %}
          </tr>
          <tr>
          {% endif %}

          {% if work %}
          <td>
            <a href="{{ work.url }}">
              <strong lang="gez">{{ work.titles[0].gez | fidal }}</strong>
              <br><small lang="gez-latn">{{ work.titles[0].gez }}</small>
            </a>
          </td>

          <td>
            <a href="{{ work.url }}">
              <strong lang="en">{{ work.titles[0].en }}</strong>
            </a>
          </td>
          {% else %}
          <td>
            <strong lang="gez">{{ item.title.gez | fidal }}</strong>
            <br>
            <small lang="gez-latn">{{ item.title.gez }}</small>
          </td>
          <td>
            <strong lang="en">{{ item.title.en }}</strong>
          </td>
          {% endif %}

        </tr>
      </tbody>
      {% endfor %}

      {% endfor %}
    </table>

  </div>

  {% unless page.iiif %}
  <div class="column">

    <aside id="details" class="message">
      <div class="message-header">
        <p>Details</p>
      </div>
      <div class="message-body">

        <div class="block">
          <p>
            Location: {{ page.place }}
            <br>
            Institution: {{ page.institution }}
            <br>
            Shelfmark: {{ page.shelfmark }}
          </p>
        </div>

        <hr>

        <div class="block">
          <h5 class="title is-5">Measurements</h5>
          <p class="mt-3">
            Height: {{ page.height }} mm
            <br>
            Width: {{ page.width }} mm
            <br>
            Folios: {{ page.folios }}
            <br>
            Columns: {{ page.columns }}
            <br>
            Lines: {{ page.lines }}
          </p>
        </div>

      </div>
    </aside>

  </div>
  {% endunless %}

</div>

{% if page.iiif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tify@0.33.0/dist/tify.css">
<script src="https://cdn.jsdelivr.net/npm/tify@0.33.0/dist/tify.js"></script>
<script>
const viewer = new Tify({
  container: '#viewer',
  manifestUrl: '{{ page.iiif }}'
});

jQuery(document).ready(function() {

  viewer.ready.then(function() {
    
    if(/unit\d+item\d+/.test(window.location.hash)) {
      const p = parseInt(jQuery(window.location.hash).attr('data-facs'));
      viewer.setPage(p);
    }

    jQuery("[data-facs]").on('click', function() {
      const p = parseInt(jQuery(this).attr('data-facs'));
      viewer.setPage(p);
      viewer.resetScan();
    });

  });

});

</script>
{% endif %}